@import "tailwindcss";

@font-face {
  font-family: 'Sandstune';
  src: url('/font/sandstune.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

#mainContainer{
  background-image: url("/img/fond.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header{
  background-color: #efb900;
  padding-inline: 10px;
  border-radius: 0 0 60px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Comic Sans MS';
  width: 100%;
  height: 10vh;
}

#footer{
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: #efb900;
  padding-inline: 10px;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Comic Sans MS';
  height: 50px;
  width: 100%;
}

#logoContainer{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logoContainer p{
  text-align: center;
  color: black;
  font-size: 1.3vw;
  font-weight: bold;
}

#menu{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-weight: bold;
}

#menu a{
  font-size: 20px;
  transition: all 0.3s ease;
}

#menu .inactive:hover, #menu .active{
  color : #d56784;
  border-bottom: #d56784 solid;
}

.burger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-btn span {
  display: block;
  height: 3px;
  background: #000;
  border-radius: 2px;
}

#don, #dgAsso{
  background-color: #d56784;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

#don:hover, #dgAsso:hover{
  cursor: pointer;
  color:#d56784;
  background-color: black;
}

#home{
  background-color: rgba(239,185,0);
  width: 95%;
  height: 75vh;
  border-radius: 360px 50px 50px 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home img{
  border-radius: 360px;
  width: auto;
  height: 100%;
}

#home #homeParagraph{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-family: 'Comic sans MS';
}

#home #homeParagraph #dates{
  font-size: 2vw;
  font-weight: bold;
}

#home #homeParagraph p{
  width: 80%;
  font-size: 1.3vw;
  text-align: center;
}

#home #homeParagraph p:nth-child(3){
  text-align: justify;
}

#home .countdown{
  width: 100%;
  text-align: center;
}

#home #homeParagraph .countdown p{
  width: auto;
  text-align: center;
  font-size: 4vw;
  color: #d56784;
  font-weight: bold;
}

@media (max-width: 640px) {
  #mainContainer{
    overflow-x: hidden;
  }

  #header{
    padding-inline: 10px;
    border-radius: 0 0 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comic Sans MS';
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  #header p{
    text-align: center;
    color: black;
    font-size: 13px;
    font-weight: bold;
  }

  .burger-btn {
    display: flex;
    margin-right: 10px;
  }

  #menu{
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #efb900;
    width: 100%;
    z-index: 100;
  }

  #footer{
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: #efb900;
    padding-inline: 10px;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Comic Sans MS';
    height: 50px;
    width: 100%;
  }

  #closeBurger{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(190, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  #home{
    height: 80vh;
    border-radius: 30px;
    flex-direction: column;
  }

  #home img{
    border-radius: 360px;
    height: 100px;
  }

  #home #homeParagraph{
    width: 95%;
  }

  #home #homeParagraph #dates{
    font-size: 20px;
  }

  #home #homeParagraph p{
    width: 95%;
    font-size: 15px;
  }

  #home .countdown{
    width: 100%;
    text-align: center;
  }

  #home #homeParagraph .countdown p{
    font-size: 40px;
  }
}

